body {
    background-color: rgb(121, 216, 210);
  }
  
  h1 {
    color: white;
    text-align: center;
    font-size: 50px;
  }

  div {
    width:200px:
    padding: 30px:
}

h2 {
    margin-top:100px;
    color: white;
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;

    margin-top:25px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;

    color: white;
  }
 .center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     
 }
  